version: 2
updates:
  - package-ecosystem: gomod
    directories:
      - /
      - /drivers/pgx/
    schedule:
      interval: monthly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      
  - package-ecosystem: docker-compose
    directory: /
    schedule:
      interval: monthly
